<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="ion-header">
  <ion-card class="card-top">
    <ion-card-header class='card-color' id='card-color'>

    </ion-card-header>
  </ion-card>

  <ion-card class="card-top">
    <ion-card-content class="ligth-bar" id="ligth-bar">

      <ion-range min="380" max="781" step="1" (ionChange)="cor($event)" [disabled]="disabled" id="knob"></ion-range>

      <ion-icon small range-left name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-card-content>

    <p class="corMinimo" text-center> λ = {{comprimentoDeOn}} nm</p>
  </ion-card>

</ion-header>

<ion-content class="cor">
  <div id="container" style="display: block;"></div>

  <div id="containerAIM" style="display: block;"></div>

</ion-content>


<ion-footer class="col">

  <ion-grid class = "grid">

      <ion-row class="corMinimo" align-items-center>
          <ion-col>
            <b>Valor Min = {{minimo}} </b>
          </ion-col>
          <ion-col>
    
           <b>Largura = {{largura}} </b>
          </ion-col>
          <ion-col>
            <b>Assimetria = {{assimetria}}</b>
    
          </ion-col>
        </ion-row>

    <ion-row>
      <ion-col>
        <button ion-fab mini (click)="alturaLargura()">
          <ion-icon name="bulb"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button ion-fab mini (click)="dryCell()">
          <b>Dry</b>
        </button>
      </ion-col>

      <ion-col>
        <button ion-fab mini id="clear" (click)="clear()">
          <b>Clear</b>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-fab class="btn-ligth">
          <button ion-fab mini>
            <ion-icon name="md-color-filter"></ion-icon>
          </button>
          <ion-fab-list side="top">
            <button ion-fab id="show" (click)="clickShow()">
              <ion-icon name="eye"></ion-icon>
            </button>
            <button ion-fab id="hide" (click)="clickHide()">
              <ion-icon name="eye-off"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>

      <ion-col>
        <ion-fab class="btn-camera" #fab>
          <button ion-fab mini>
            <ion-icon name="camera"></ion-icon>
          </button>
          <ion-fab-list side="top">
            <!-- <button ion-fab color="danger" id="showCamera" (click)="startCloseCamera('opn', fab)">Open</button>
            <button ion-fab class="danger" id="hideCamera" (click)="startCloseCamera('clo', fab)">Clo</button>-->
          </ion-fab-list>
        </ion-fab>
      </ion-col>

      <ion-col>
        <button ion-fab mini (click)="chamarMediana()">
          <ion-icon name="pulse"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>