page-camera {

  //Card do conteúdo da cor
    .card-color{
       // background-color: rgb(105, 0, 0);
        width: 50%;
        height: 50px;
        padding-top: 0px;
        //margin-top: 20px;
        
       // margin: 0px;
    }
    //Barra de configuração de cor
    .ligth-bar{

        height: 50px;
        align-content: center;
        box-align: center;
        padding-top: 0px;
        opacity: 1;
        border-style: none;

    }

    .corMinimo{
       color: #ffffff;
    }

    .cor{
        background-color: #000000;
    }

    .tamanhoGrid{
        padding: 0px; 
    }
    //Tamanho do botão

    .btn-camera{
        bottom: 5%;
    }


    .ion-header{
        
        padding: 0px;
        border-style: none;
       // margin: 0px;
    }

    .card-top{
        width: 100%;
        padding-top: 0px;
        margin: 0px;
        border-style: none;
        align-content: top;
        background-color: #000000;
    }

    .btn-ligth{
        bottom: 5%;
    }
    .ion-header{
        border-style: none;
        border-bottom: 0px;
        box-shadow: 0;

    }

   // .content{
    //border-style: none;
    //}

    .tamanho{
        margin-top: 170px;
    }

    .grid{
       position: fixed;
       bottom:0;
       align-content: center;
    }

    .col{
        border-top: 1px ridge grey; //Linha divisória dos botões
    }
    .grid{
        align-content: center;
    }

    .mwlResizable {
      box-sizing: border-box; // required for the enableGhostResize option to work
    }

    #fabbutton{
        margin: 0px auto !important;
    }

}
